.timerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
  margin: 20px;
}
.timerCard__value {
  font-size: 40px;
  font-weight: bold;
}
.timerCard__label {
  font-size: 20px;
}
