* {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.container {
  height: 100vh;
  color: white;
  background: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.countdown_wrapper {
  display: flex;
  justify-content: center;
}
.time_card {
  width: 500;
}
